{% extends 'main/base-employer.html' %}

{% load custom-tags %}

{% block index_content %}
  <div class="row">
    <div class="col-12 lead">
      {{ searched_total }} кандидатів
    </div>
  </div>
  <div class="row">
  {% for r in result %}
      <div class="col-8 mt-4">
        {% include 'main/components/resume-simple-card.html' with resume=r.resume other_resumes=r.other_resumes show_others="true" show_save=save_resume_btn %}
      </div>
  {% endfor %}
  </div>
  {% include 'main/components/pagination.html' with page_obj=page_obj paginator=paginator %}
{% endblock %}

