{% extends 'main/base.html' %}

{% block content %}
<div class="auth d-flex align-items-center justify-content-center h-100 text-center">
  <div class="card auth-card">
    <div class="errors text-danger">
      {{ form.errors }}
      <p>{{ errorMsg }}</p>
    </div>
    <form method="POST" class="card-body auth-form">
      {% csrf_token %}
      <div class="form-group">
        {{ form.username }}
        {{ form.password }}
      </div>
      <button type="submit" class="btn btn-primary submit-btn w-100">Увійти</button>

      <p class="mt-3 mb-2">Ще не з нами?</p>
      <a href="{% url 'user:sign-up' %}">Зареєструватися як шукач</a>
      <div class="sign-up-divider my-3">
        <hr class="m-0">
        <div class="sign-up-divider-text">або</div>
      </div>
      <a href="{% url 'user:company-sign-up' %}">Зареєструватися як роботодавець</a>
    </form>
  </div>
</div>


{% endblock %}