{% extends 'main/base-job-seeker.html' %}

{% load custom-tags %}

{% block index_content %}
  <div class="row">
    <div class="col-12 lead">
      {{ searched_total }} вакансій
    </div>
  </div>
  <div class="row">
  {% for r in result %}
      <div class="col-8 mt-4">
        {% include 'main/components/vacancy-simple-card.html' with vacancy=r show_save=save_vacancy_btn %}
      </div>
  {% endfor %}
  </div>
  {% include 'main/components/pagination.html' with page_obj=page_obj paginator=paginator %}
{% endblock %}

