{% extends 'main/base-job-seeker.html' %}

{% load custom-tags %}

{% block index_content %}
  <div class="row">
    <div class="col-12 lead">
      {{ result|length }} вакансій
    </div>
  </div>
  <div class="row mt-3 grid-multi-row per-row-2">
  {% for r in result %}
      <div class="col-6">
        {% include 'main/components/vacancy-simple-card.html' with vacancy=r.vacancy other_vacancies=r.other_vacancies show_others="true" show_save=save_vacancy_btn %}
      </div>
  {% endfor %}
  </div>
  {% include 'main/components/pagination.html' with page_obj=page_obj paginator=paginator %}
{% endblock %}

