{% extends 'main/base.html' %}


{% block header_topcontent %}
  {% if not auth_user %}
    <section class="container d-flex justify-content-end pt-3 pb-2">
      <a href="{% url 'main:home-employer' %}" class="icon-link text-white">
        Робототавцю
        <i class="bi bi-chevron-right"></i>
      </a>
    </section>
  {% endif %}
{% endblock %}


{% block nav %}
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link">Знайти вакансії</a></li>
    <li class="nav-item"><a href="{% url 'resume:manage' %}" class="nav-link">Розмістити резюме</a></li>
  </ul>
  <div class="auth-user">
    {% if auth_user %}
      <div class="dropdown d-flex align-items-center">
        <a href="#" class="d-block text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
          <li><a class="dropdown-item" href="#">Збережені Вакансії</a></li>
          <li><a class="dropdown-item" href="#">Моє резюме</a></li>
          <li><a class="dropdown-item" href="#">Налаштування</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'user:sign-out' %}">Вийти</a></li>
        </ul>
      </div>
    {% else %}
      <button type="button" class="btn btn-primary auth-btn">
        <a href="{% url 'user:sign-in' %}">Увійти</a>
      </button>
    {% endif %}
  </div>

{% endblock %}

{% block header_subcontent %}
  <section class="container sub-header py-4">
    <div class="heading">
      <h1> Сайт пошуку роботи №1 в Україні </h1>
      <p class="text-hint">Зараз у нас 85409 актуальних вакансій.</p>
    </div>
    <div class="search-vacancy">
      <form action="/" method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
          <div class="control-wrapper">
            <input type="text" class="form-control position-control" placeholder="Посада або компанія">
          </div>
          <div class="control-wrapper">
            <select class="form-select region-control" aria-label="Vacancy region" placeholder="Регіон">
              <option value="4">Дніпро</option>
              <option value="1">Київ</option>
              <option value="2">Одеса</option>
              <option value="3">Львів</option>
            </select>
          </div>
        </div>

        <div class="submit-btn">
          <button class="btn btn-danger btn-icon">
            <i class="bi bi-search"></i>
            Знайти вакансії
          </button>
        </div>
      </form>
    </div>
  </section>


{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <p>85409 Вакансій</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <p>12 Роботодавців</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <p>1000 Резюме</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}