html {
  --white: #fff;
  --primary-color: #00a1f1;
  --primary-color-contrast: #fff;
  --primary-color-hint-contrast: rgba(255, 255, 255, .8);
  --gray-color: #f4f5f6;
  --secondary-color: #1f2c4726;
  --secondary-color-contrast: #1f2c47;
  --border-color-1: rgba(224, 245, 255, .2);
  --border-color-2: rgba(255, 255, 255, .4);
  height: 100vh; }

body {
  height: fit-content;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--secondary-color-contrast);
  font-size: 18px;
  line-height: 28px; }

.main-content {
  background-color: var(--gray-color);
  flex: 1; }
  .main-content .container {
    min-height: 100%; }
    .main-content .container .row {
      min-height: inherit; }

#header {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast); }
  #header .logo {
    height: 40px; }
  #header .nav {
    gap: 1rem; }
    #header .nav-item {
      position: relative; }
      #header .nav-item:hover::before {
        content: '';
        position: absolute;
        bottom: -1rem;
        height: 4px;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        background-color: var(--bs-danger); }
    #header .nav-link {
      color: inherit; }
  #header .auth-user {
    margin-left: 1.5rem;
    display: flex;
    align-items: center; }
    #header .auth-user .dropdown-toggle {
      color: inherit; }
    #header .auth-user .auth-btn {
      background-color: transparent;
      border-color: var(--border-color-2); }
      #header .auth-user .auth-btn > a {
        color: inherit;
        text-decoration: none; }
  #header .sub-header {
    border-top: 1px solid var(--border-color-1); }
  #header .search-form .form {
    display: flex;
    background-color: var(--white);
    border-radius: 10px;
    border-radius: .25rem; }
  #header .search-form .form-group {
    display: flex;
    flex: auto; }
    #header .search-form .form-group .control-wrapper {
      flex: auto; }
      #header .search-form .form-group .control-wrapper:focus-within {
        z-index: 10; }
      #header .search-form .form-group .control-wrapper:has(> .position-control) {
        position: relative; }
        #header .search-form .form-group .control-wrapper:has(> .position-control):after {
          content: '';
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          right: 0;
          bottom: 0;
          width: 1px;
          height: 80%;
          background-color: var(--secondary-color); }
    #header .search-form .form-group .position-control {
      border-color: transparent; }
    #header .search-form .form-group .region-control {
      border-color: transparent; }
  #header .search-form .submit-btn {
    margin-left: 5px; }
    #header .search-form .submit-btn > button {
      min-width: 200px;
      border-radius: .25rem; }

.footer {
  background-color: var(--white);
  height: 100px; }

.auth-card {
  min-width: 400px; }

.auth-form {
  width: 100%; }

.auth .sign-up-divider {
  text-align: center;
  position: relative; }
  .auth .sign-up-divider-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; }

.text-hint {
  color: var(--primary-color-hint-contrast); }

.fz-large {
  font-size: 18px; }

.fz-extral-large {
  font-size: 20px; }

.w-50 {
  width: 50%; }

.btn-icon > i {
  margin-right: 8px; }

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color); }

.badge {
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 400; }

.bg-secondary {
  background-color: var(--secondary-color) !important;
  color: var(--secondary-color-contrast) !important; }

.icon-link {
  text-decoration: none; }

.card {
  box-shadow: 0 5px 5px 0 rgba(31, 44, 71, 0.05);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  transition: box-shadow .1s ease-out;
  border-radius: 20px; }
  .card.with-hover:hover {
    box-shadow: 0 7px 10px 0 rgba(31, 44, 71, 0.1), 0 5px 5px 3px rgba(31, 44, 71, 0.05); }

.pagination {
  gap: 0.5rem; }
  .pagination .page-item .page-link {
    color: inherit;
    background-color: transparent;
    border-width: 0;
    border-color: var(--border-color-2);
    border-radius: 10px; }
    .pagination .page-item .page-link:hover {
      background-color: var(--secondary-color); }
  .pagination .page-item.active .page-link {
    border-width: 1px;
    background-color: var(--white); }

.select2-container {
  width: 100% !important; }

.select2-selection__rendered {
  display: flex !important;
  width: 100% !important; }
  .select2-selection__rendered .select2-selection__choice {
    width: fit-content; }
  .select2-selection__rendered .select2-search__field {
    width: 100% !important; }

.attr-list {
  list-style: none;
  padding-left: 0;
  font-size: 18px;
  line-height: 28px; }

.attr-item {
  display: flex; }
  .attr-item:not(:first-child) {
    margin-top: 10px; }

.attr-name {
  width: 200px; }

/*# sourceMappingURL=index.css.map */